HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


## ---- ##
*.class
*.jar
*.war
*.ear
*.nar
!.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties

application-local.properties
application-local.yml
application-dev.properties
*.env

application-secrets.properties
application-secrets.yml
*.p13
*.jks
*.pfx
*.pem
*.key
*.crt
secrets/

logs/
*.log
*.log.*
spring.log

.DS_Store
Thumbs.db
desktop.ini
*~

/test-output/
jacoco.exec
*.exec

hs_err_pid*
replay_pid*

src/main/resources/tmp-images